body img {max-width: 100% !important;}
.logo-header-image img {
    max-width: 360px !important;
    height: auto    !important;
    margin: 0 auto  !important;
    display: block  !important;
}

.logo-header-image {
    margin-bottom: 0px !important;
}
